<div class="grid">

  <div class="col-12">
    <div class="surface-card shadow-2 p-3 border-round">

      Bienveni&#64; Aníbal

    </div>
  </div>
</div>

<div class="mt-2">
  <app-gluco-card />

  <app-gluco-stats />

  <!-- <div class="col-12 md:col-3 mt-2">
    <div class="surface-card shadow-2 p-3 border-round " style="height: 100%;">
      <span>Chequear glucosas</span>


     <div class="container">
      <div class="toggle">
        <input type="checkbox">
        <span class="button"></span>
        <span class="label"> Iniciar </span>
      </div>
    </div>

    </div>
  </div> -->




</div>
